extends layout

block content

    #container
        #header
            #filename Loading...
            a(href='/' target="_blank") +
            span#download
                i.icon-download
        #editor Loading...
        #footer
            a(href='/about/') About µGlark.io
            iframe.star(src="http://ghbtns.com/github-btn.html?user=Bluefinch&repo=microglark&type=watch&count=true&size=small" allowtransparency="true" frameborder="0" scrolling="0" width="88" height="20")

