extends layout

block content

    #header
      #htext
        #filename Scratch.js
        a.pull-right.btn.btn-primary(href='/' target="_blank") +
    #editor Loading...
    
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js');
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/lib/ace/ace.js')
    script(src='/javascripts/lib/share/bcsocket.js')
    script(src='/javascripts/lib/share/webclient/share.uncompressed.js')
    script(src='/javascripts/lib/share/webclient/ace.js')
    script(src='/javascripts/microGlark.js')

