extends layout

block content

    #container
        #header
            #filename
                .text(contenteditable='true' spellcheck='false') Loading...
            a(href='/' target="_blank")
                i.icon-plus
            a#download(href='#download')
                i.icon-download-alt
            a#beautify(href='#beautify')
                i.icon-code
        #editor Loading...
        #footer
            a(href='/about/') About µGlark.io
            a#twitter(href="https://twitter.com/share" class="twitter-share-button" data-url="http://micro.glark.io" data-text="Check out glark.io, a hacky minimalistic remote pair programming editor" data-via="glarkIO" data-hashtags="glarkio") Tweet
            iframe.star(src="http://ghbtns.com/github-btn.html?user=Bluefinch&repo=microglark&type=watch&count=true&size=small" allowtransparency="true" frameborder="0" scrolling="0" width="88" height="20")

            //- Tweet button script.
            script.
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
