/* Layout */

#container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50%;
    
    background-color: #383838;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
}

#header {
    position: absolute;
    top: 0;
    height: 35px;
    width: 100%;
    
    overflow: hidden;
    border-bottom: 2px solid #33555E;
}

#editor {
    position: absolute;
    top: 37px;
    bottom: 37px;
    width: 100%;
}

#footer {
    position: absolute;
    height: 35px;
    bottom: 0;
    width: 100%;
    
    overflow: hidden;
    border-top: 2px solid #33555E;
}

#container {
    width: 100%;
    margin-left: -50%;
}

@media (min-width: 768px) {
    #container {
        width: 720px;
        margin-left: -360px;
    }
}

@media (min-width: 992px) {
    #container {
        width: 910px;
        margin-left: -455px;
    }
}

@media (min-width: 1200px) {
    #container {
        width: 1130px;
        margin-left: -565px;
    }
}

/* Ace */

@media (min-width: 768px) {
    .ace_content {
        width: 100% !important;
    }
    
    .ace_scrollbar {
        position: fixed !important;
        top: 0 !important;
        height: 100% !important;
    }
    
    .ace_scroller {
        right: 0 !important;
    }
}

/* Style */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #333;
  color: white;
}

a {
    text-decoration: initial;
    color: white;
}

#header a {
    display: inline-block;
    float: right;
    height: 35px;
    padding: 10px 15px;
    font-size: 14px;
}

#header a:hover {
    background-color: #33555E;
}

#filename {
    display: inline-block;
    height: 35px;
    padding: 10px 12px;
    color: white;
    font-weight: bold;
}

.collaboration-selection-wrapper {
    position: fixed;
    z-index: 1;
}

.collaboration-selection {
    width: 2px;
    background-color: #ff7567;
    height: 12pt;
}

.collaboration-selection-tooltip {
    display: none;
    position: relative;
    top: -24pt;
    padding: 0 3px;
    background-color: #ff7567;
}

#footer a {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    color: #686868;
}

#footer a:hover {
    color: #FFFFFF;
}

#footer .star {
    float: right;
    margin-top: 8px;
}
