/* Layout */

#header {
    position: fixed;
    top: 0;
    left: 50%;
    height: 32px;
}

#editor {
    position: fixed;
    top: 32px;
    left: 50%;
    bottom: 0;
}

#editor,
#header {
    width: 100%;
    margin-left: -50%;
}

@media (min-width: 768px) {
    #editor,
    #header {
        width: 720px;
        margin-left: -360px;
    }
}

@media (min-width: 992px) {
    #editor,
    #header {
        width: 910px;
        margin-left: -455px;
    }
}


@media (min-width: 1200px) {
    #editor,
    #header {
        width: 1130px;
        margin-left: -565px;
    }
}

/* Style */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #333
}

#header a {
    background-color: #383838;
    border: 0;
    border-radius: 0;
    padding: 3px 12px;
    font-size: 19px;
}

#header a:hover {
    background-color: #4E4E4E;
}

#filename {
    background-color: #383838;
    display: inline-block;
    padding: 8px 12px;
    color: white;
    font-weight: bold;
}

#editor {
    background-color: #383838;
}

.collaboration-selection-wrapper {
    position: fixed;
    z-index: 1;
}

.collaboration-selection {
    width: 2px;
    background-color: #ff7567;
    height: 12pt;
}

.collaboration-selection-tooltip {
    display: none;
    position: relative;
    top: -24pt;
    padding: 0 3px;
    background-color: #ff7567;
}

/* Ace */

@media (min-width: 768px) {
    .ace_content {
        width: 100% !important;
    }
    
    .ace_scrollbar {
        position: fixed !important;
        top: 0 !important;
        height: 100% !important;
    }
    
    .ace_scroller {
        right: 0 !important;
    }
}